<!-- More Info -->
<div class="modal fade" id="Modal-MoreInfo-{{ item.id }}" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Date: {{ item.date }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Clean: {{ item.clean }} / {{ item.clean_comm }}</p>
        <p>School: {{ item.sch }} / {{ item.sch_comm }}</p>
        <p>Sport: {{ item.sport }} / {{ item.sport_type }} / {{ item.sport_comm }}</p>
        <p>Other: {{ item.other }} / {{ item.other_comm }}</p>
        <p>Completed: {{ item.is_done }}</p>
        <p>Approved: {{ item.is_approved }}</p>
        <p>Amount earned (uah): {{ item.amount }}</p>
      </div>
    </div>
  </div>
</div>

<style>
  div{color: black;}
  p{text-align: left;}
</style>
