{% extends 'base.html' %}

{% block title %}
    Home Page
{% endblock %}

{% block navbar %}
        <div class="nav-link mr-md-5">
            <form action="/date" method="POST" id="dateform">
                <input type="date" name="datepicker" value={{ date.strftime('%Y-%m-%d') }}>
            </form>
        </div>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav w-100 align-items-end justify-content-md-between">
                <li class="nav-item active">
                    <a class="nav-link" href="{{ url_for('home_page') }}">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('clean_page') }}">Clean</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('school_page') }}">School</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('sport_page') }}">Sport</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('other_page') }}">Other</a>
                </li>
                <li class="nav-item mx-md-5 font-weight-bold">
                    <a class="nav-link" href="{{ url_for('stat_page') }}">Stat</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('logout_page') }}">Logout</a>
                </li>
            </ul>
        </div>
{% endblock %}


{% block content %}
    <div class="p-1 p-md-3 mx-md-3 my-2 my-md-4 bg-dark rounded-angles">
        <h5 class="caption">Recent results, {{ date.strftime('%B-%y') }}:</h5>

            <table class="table mb-0 table-sm text-center table-style">
                <thead class="thead-light">
                    <tr>
                       <th scope="col">Date</th>
                       <th scope="col">Clean(%)</th>
                       <th scope="col">School(%)</th>
                       <th scope="col">Sport(%)</th>
                       <th scope="col">Other(%)</th>
                       <th scope="col">Amount(uah)</th>
                       <th scope="col"></th>
                    </tr>
                </thead>
                <tbody id="home_table">
                    {% for item in items %}
                    {% include 'includes/modals.html' %}
                    <tr>
                        <td>{{ item.date.strftime('%d') }}</td>

                        {% if item.clean > 0 and item.clean >= thrs[0] %}
                            <td class="logo-focus">{{ item.clean }}</td>
                        {% else %}
                            <td>{{ "-" if item.clean == 0 else item.clean }}</td>
                        {% endif %}

                        {% if item.sch > 0 and item.sch >= thrs[1] %}
                            <td class="logo-focus">{{ item.sch }}</td>
                        {% else %}
                            <td>{{ "-" if item.sch == 0 else item.sch }}</td>
                        {% endif %}

                        {% if item.sport > 0 and item.sport >= thrs[2] %}
                            <td class="logo-focus">{{ item.sport }}</td>
                        {% else %}
                            <td>{{ "-" if item.sport == 0 else item.sport }}</td>
                        {% endif %}

                        {% if item.other > 0 and item.other >= thrs[3] %}
                            <td class="logo-focus">{{ item.other }}</td>
                        {% else %}
                            <td>{{ "-" if item.other == 0 else item.other }}</td>
                        {% endif %}

                        {% if item.is_approved == 1 %}
                            <td class="logo-focus">{{ "%.2f"|format(item.amount) }}</td>
                        {% else %}
                            <td>{{ "%.2f"|format(item.amount) }}</td>
                        {% endif %}

                        {% if item.date == date %}
                            <td>
                                <div class="container">
                                    <div class="row">
                                        <div class="col">
                                            {% if (current_user.is_parent == 0 and item.is_approved == 0) or (current_user.is_parent == 1 and item.is_done == 1) %}
                                                <form method="POST">
                                                    <button class='{{but_design}} py-0 px-1' style="font-size: 0.7rem;">{{butt}}</button>
                                                </form>
                                            {% endif %}
                                        </div>
                                        <div class="col">
                                            <button class="btn btn-info btn-sm py-0 px-1" style="font-size: 0.7rem;" data-toggle="modal" data-target="#Modal-MoreInfo-{{ item.id }}">more</button>
                                        </div>
                                    </div>
                                </div>

                            </td>
                        {% else %}
                            <td></td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>

            </table>
    </div>

    <div class="d-inline-block mx-md-3 card card-style">
        <div class="card-body p-3">
            <h6 class="card-title mb-1">Current month:</h6>
            <p class="card-text mb-1">1-15: {{ "%.2f"|format(fees[0]) }}</p>
            <p class="card-text mb-1">16-31: {{ "%.2f"|format(fees[1]) }}</p>
            <p class="card-text"><b>Total: {{ "%.2f"|format(fees[0]+fees[1]) }}</b></p>
        </div>
    </div>
{% endblock %}